<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Forum Sandbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if(typeof(path) != 'undefined' && path === 'index'){ %>active<% } %> ">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Forum</a>
        </li>
      </ul>
      <% if(typeof(path) != 'undefined'){ %>
        <% if(path != 'login'){ %>  
          <a class="btn btn-dark nav-button-margin" href="/login"><i class="bi bi-key-fill"></i> Login</a>
        <% }if(path != 'register'){ %> 
          <a class="btn btn-dark nav-button-margin" href="/register"><i class="bi bi-plus-square"></i> Register</a>
        <% } %>
      <% } %> 
    </div>
  </nav>