<%- include ('includes/head.ejs') %> 
    <link rel="stylesheet" href="/bootstrap/icons/bootstrap-icons.css">
    <title>Forum Sandbox</title>
</head>
<body>
    <%- include ('includes/nav.ejs') %> 
    <div class="containter">
        <h1 class="h1">404 - Page not found</h1>
    </div>
    <%- include('includes/footer.ejs') %> 
<%- include('includes/end.ejs') %> 