.vertical{
    margin-top: 15vh;
}

.button-width{
    width: 100%;
}

.footer-align{
    text-align: center;
}

.register-form{
    margin-top: 10vh;
}

.nav-button-margin{
    margin-right: 10px;
}

.align-index{
    text-align: center;
}

.prog-button{
    width: 100%;
}